div {
  font-family: "Montserrat";
}

.carousel {
  // margin: 20px;
  background-color: #dee4ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin: 30px;

  img {
    width: 100px;
  }
}

.react-multi-carousel-item {
  margin: 20px;
}