* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./static/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Lato-Bold";
 src: url('./static/fonts/Lato-Bold.woff') format('woff');
}

@font-face {
  font-family: "Lato-Regular";
  
  src: url('./static/fonts/Lato-Regular.woff') format('woff');
}
